@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 400;
  min-width: 1200px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 20px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.notification-quantity {
  font-size: 10px;
  line-height: 10px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 50%;
  background-color: #7DB54F;
  padding: 5px 3px;
  min-width: 20px;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 11px;
  left: 20px;
}

.main-index .hero {
  padding: 51px 371px 82px;
  background-color: #63787D;
  background-image: url("../images/decorative_cover.svg"), url("../images/main_index_background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, left top;
}

.information {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-left: 285px;
  margin-right: 285px;
  margin-bottom: 25px;
}

.features {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 90px;
}

.advantages {
  padding-top: 69px;
}

.advantages .features {
  padding-right: 272px;
  padding-left: 272px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  position: relative;
}

.advantages-title::after {
  content: " ";
  position: absolute;
  width: 60px;
  height: 2px;
  bottom: -29px;
  left: 85px;
  right: 85px;
}

.advantages-light::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-light-two::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-description {
  text-align: center;
  margin: 0;
}

.dark-background-color {
  color: #FFFFFF;
  background-color: #82B3D3;
  display: flex;
}

.light-background-color {
  background-color: rgba(131, 179, 211, 0.12);
}

.medium-background-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.infrastructure {
  background-color: #FFFFFF;
  padding-top: 64px;
}

.infrastructure-item {
  padding: 81px 85px;
  width: 230px;
}

.infrastructure-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.infrastructure-description {
  text-align: center;
  color: #333333;
  margin: 0;
}

.main-index .newsletter {
  background-color: #637579;
  background-image: url("../images/index_subscription_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  padding-top: 96px;
  padding-bottom: 104px;
  padding-left: 258px;
  padding-right: 258px;
}

.newsletter-email {
  line-height: 24px;
  background-color: #F2F2F2;
}

.newsletter {
  text-align: center;
}

.newsletter-catalog {
  padding: 96px 258px 104px 258px;
}

.social-list-item a {
  text-decoration: none;
  color: #000000;
}

.footer-phone {
  padding: 5px 0;
}

.footer-phone-call {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  width: 720px;
  margin-left: 42px;
  margin-right: 42px;
}

.main-inner-filter {
  background-image: url("../images/catalog_filter_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000000;
  background-color: #656366;
  padding: 35px 70px 72px 70px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 8px;
}

.catalog-list:hover {
  opacity: 0.6;
}

.catalog-list:active {
  opacity: 0.3;
}

.breadcrumbs-link:hover .home-page {
  opacity: 0.6;
}

.breadcrumbs-link:active .home-page {
  opacity: 0.3;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-item {
  line-height: 23px;
  color: #FFFFFF;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item:focus {
  color: rgba(255, 255, 255, 0.6);
}

.accomodation-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-right: auto;
  align-self: center;
  max-width: 400px;
}

.card-link {
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #000000;
  flex-grow: 1;
}

.card-title {
  font: inherit;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  min-width: 300px;
  margin: 0;
  margin-bottom: 16px;
}

.card-link .card-image {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 17px;
}

.card-rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  margin: 0;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  margin: 0;
  text-align: center;
  padding: 12px 5px;
  border-radius: 4px;
}

.pagination-active {
  color: #000000;
  background-color: #F2F2F2;
}

.change-color {
  color: #333333;
}

.button {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  padding: 0;
  cursor: pointer;
}

.button-brown {
  background-color: #756157;
  border-radius: 4px;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled,
.button.disabled {
  background-color: #E5E5E5;
}

.button-blue {
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}

.button-green {
  background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus {
  background-color: #6C9E42;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-transparent:focus {
  outline: 3px solid #83B3D3;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.action-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  display: inline-block;
  margin: 0;
}

.field {
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
}

.wrapper {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hotel-search {
  text-align: center;
  padding: 96px 304px;
}

.main-header {
  padding-right: 70px;
  padding-left: 70px;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding-left: 168px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-logo {
  position: absolute;
  left: 0;
  top: 0;
}

.header-logo {
  display: block;
  width: 140px;
  margin-right: 28px;
}

.navigation-menu {
  max-width: 465px;
  display: flex;
  flex-wrap: wrap;
}

.navigation-user {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-height: 64px;
  max-width: 200px;
}

.navigation-button {
  display: inline-block;
  padding: 8px 34px;
  align-self: center;
  margin-left: 20px;
  max-width: 160px;
  box-sizing: border-box;
}

.hero-img {
  display: block;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-list-item-two {
  flex-direction: row-reverse;
}

.advantages-items-wrapper {
  padding: 102px 85px;
  width: 230px;
}

.advantage-img {
  display: block;
  width: 800px;
  flex-shrink: 0;
}

.advantages-items-wrapper-two {
  width: 230px;
  padding: 113px 85px;
}

.infrastructure .information {
  margin: 0;
  margin-bottom: 20px;
  margin-right: 348px;
  margin-left: 348px;
}

.infrastructure .features {
  margin-bottom: 64px;
  padding-left: 350px;
  padding-right: 350px;
}

.infrastructure-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1200px;
}

.white-background-color {
  width: 230px;
}

.hotel-search .information {
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search .features {
  margin: 0;
  margin-bottom: 54px;
}

.hotel-search .action-button {
  margin-right: 108px;
  margin-left: 108px;
}

.newsletter .information {
  margin: 0;
  margin-bottom: 20px;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  width: 684px;
  margin-right: 258px;
  margin-left: 258px;
}

.newsletter .features {
  margin: 0;
  margin-bottom: 54px;
}

.newsletter .button-blue {
  border-radius: 0 4px 4px 0;
}

.main-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
}

.social-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0;
  min-width: 142px;
}

.copyright {
  display: inline-block;
  width: 115px;
}

.filter-services {
  display: flex;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item a {
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
}

.breadcrumbs-item:not(:first-of-type) {
  padding-left: 28px;
  position: relative;
}

.breadcrumbs-item:not(:first-child)::before {
  position: absolute;
  background-image: url("../images/decoration/breadcrumbs_arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: " ";
  left: 10px;
  width: 8px;
  height: 20px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  width: 151px;
  border: none;
}

.filter-group-price {
  margin-left: 70px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-wrapper-content {
  padding: 48px 70px 61px 70px;
}

.sorting-container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.sorting-container .button-view:not(:last-child) {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.view-button {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 48px);
  gap: 8px;
  margin-left: 70px;
  align-items: center;
  max-width: 160px;
}

.view-button-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 48px;
  height: 48px;
  border: 2px solid rgba(229, 229, 229, 1);
  box-sizing: border-box;
  border-radius: 4px;
}

.view-button-item:not(:last-child) {
  margin-right: 8px;
}

.button-view {
  width: 16px;
  height: 14px;
  padding: 17px 15px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.show-catalog {
  background-image: url("../images/decoration/catalog_icon.svg");
}

.show-slideshow {
  background-image: url("../images/decoration/slideshow_icon.svg");
}

.show-list {
  background-image: url("../images/decoration/list_icon.svg");
}

.active-item {
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 4px;
}

.view-button-item:focus {
  border: 2px solid #68A2CA;
}

.view-button-item:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.view-button-item:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.accomodation-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 20px;
  row-gap: 17px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-bottom: 39px;
  margin-bottom: 38px;
  border-bottom: 1px solid #E6E6E6;
}

.pagination {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin: 0;
  margin-right: 8px;
}

.pagination .pagination-text {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  margin: 0;
  align-content: center;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-active:hover,
.pagination-active:focus,
.pagination-active:active {
  background-color: #F2F2F2;
  color: #000000;
}

.card {
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.card .button-brown {
  padding: 8px 26px;
}

.card .button-blue {
  padding: 8px 20px;
  border-radius: 4px;
}

.card .button-green {
  padding: 8px 18px;
  border-radius: 4px;
}

.catalog-filter .button-blue,
.catalog-filter .button-transparent {
  padding: 7px 8px;
  border-radius: 4px;
  width: 100%;
}

.grid-container {
  display: grid;
  align-items: center;
  grid-template-columns: 140px 140px;
  grid-gap: 16px 20px;
}

.card-type {
  margin: 0;
}

.card-value {
  margin: 0;
  justify-self: end;
}

.active-navigation-link {
  position: relative;
}

.active-navigation-link::after {
  content: " ";
  position: absolute;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
}

.navigation-link-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

.search-icon {
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.likes-icon {
  width: 20px;
  height: 20px;
  padding: 22px 12px;
}

.icon-heart {
  position: relative;
}

.title-icon::before {
  content: " ";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.house-icon::before {
  background-image: url("../images/decoration/house.svg");
}

.hamburger-icon::before {
  background-image: url("../images/decoration/food.svg");
}

.present-icon::before {
  background-image: url("../images/decoration/present.svg")
}

.footer-button-icon {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: block;
  background-color: #FFFFFF;
  box-sizing: border-box;
  width: 47px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.footer-phone-call:hover,
.footer-phone-call:focus {
  color: #756157;
  outline: none;
}

.footer-phone-call:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-social-link:focus,
.copyright:focus {
  outline: none;
}

.footer-social-link:hover .footer-icon,
.footer-social-link:focus .footer-icon {
  fill: #68A2CA;
}

.footer-social-link:active .footer-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.academy-logo {
  padding-top: 9px;
  padding-bottom: 9px;
  vertical-align: bottom;
}

.copyright:hover .academy-logo,
.copyright:focus .academy-logo {
  fill: #756157;
}

.copyright:active .academy-logo {
  fill: rgba(117, 97, 87, 0.3);
}

.card-stars {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.card-stars::before {
  content: " ";
  display: block;
  height: 17px;
  background-image: url("../images/decoration/star_catalog.svg");
  background-repeat: space no-repeat;
  background-size: contain;
}

.four-stars::before {
  width: 88px;
}

.three-stars::before {
  width: 66px;
}

.two-stars::before {
  width: 42px;
}

input[type="email"] {
  margin: 0;
  padding-left: 20px;
  width: 452px;
  min-width: 300px;
  color: rgba(0, 0, 0, 1);
  font: inherit;
  font-size: 18px;
  line-height: 24px;
  border: none;
}

.newsletter-form {
  display: flex;
  justify-content: space-between;
}

.wrapper-catalog-filter-group {
  display: flex;
  width: 371px;
  justify-content: space-between;
}

.control-input {
  font: inherit;
  line-height: 23px;
  appearance: none;
  display: inline-block;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #FFFFFF;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
}

.control-checkbox {
  border-radius: 4px;
}

.control-radio {
  border-radius: 50%;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  content: "";
  background-image: url("../images/decoration/checkbox_arrow.svg");
  width: 12px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  color: #3F5E72;
  position: absolute;
  top: 5px;
  left: 4px;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.wrapper-button-filter {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  width: 191px;
  justify-content: space-between;
}

.select {
  position: relative;
  min-width: 292px;
}

.select-control {
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 13px 19px;
  padding-right: 40px;
  border: 2px solid rgba(229, 229, 229, 1);
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  box-sizing: border-box;
  appearance: none;
  background-color: #FFFFFF;
  background-image: url("../images/decoration/arrow_select.svg");
  background-repeat: no-repeat;
  background-position: right 19px center;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:disabled {
  opacity: 0.3;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.modal-container {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  max-height: 100vh;
  overflow-y: auto;
}

.modal-hotel-search {
  width: 577px;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  width: 52px;
  height: 52px;
  border: none;
  cursor: pointer;
  background-color: #F2F2F2;
  border-radius: 50%;
  top: 65px;
  right: 52px;
}

.button-close:active {
  fill: rgba(0, 0, 0, 0.3);
  background-color: #E6E6E6;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  border: 3px solid #83B3D3;
  background-color: #E6E6E6;
}

.modal-title {
  margin: 0;
  margin-bottom: 65px;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.count-people,
.date {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  max-width: 120px;
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  display: block;
}

.form-field-date {
  margin: 0;
  font: inherit;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  padding: 12px 40px 12px 20px;
  margin-bottom: 4px;
  width: 440px;
  box-sizing: border-box;
  border-radius: 4px;
}

.form-field-date:hover {
  background-color: #E6E6E6;
}

.form-field-date:focus {
  border: none;
  outline: 3px solid #83B3D3;
}

.field-date {
  position: relative;
}

.field-date::after {
  position: absolute;
  content: " ";
  background-image: url("../images/decoration/modal_calendar_icon.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-position: center;
  top: 13px;
  right: 20px;
  fill: #000000;
  opacity: 0.3;
  cursor: pointer;
}

.field-group {
  margin: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.group-quantity:not(:last-child) {
  margin-right: 88px;
}

.group-quantity {
  margin: 0;
  justify-content: flex-end;
  width: 247px;
  flex-wrap: nowrap;
}

.group-tooltip-icon {
  position: relative;
}

.text {
  font: inherit;
  font-size: 16px;
  margin: 0;
  margin-left: 157px;
  margin-bottom: 23px;
}

.text.warning {
  color: #FF5757;
}

.modal-search {
  font: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  width: 100%;
  padding: 18px 18px;
  border-radius: 10px;
}

.field-group-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.people-quantity {
  font: inherit;
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-align: center;
  display: block;
  height: 48px;
  box-sizing: border-box;
  background-color: #F2F2F2;
  border: none;
  width: 31px;
}

.people-quantity::-webkit-outer-spin-button,
.people-quantity::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.button-edit-number {
  margin: 0;
  width: 40px;
  height: 48px;
  padding: 14px 10px;
  border: none;
  cursor: pointer;
  background-color: #F2F2F2;
}

.minus-button {
  border-radius: 4px 0 0 4px;
}

.plus-button {
  border-radius: 0 4px 4px 0;
}

.button-edit-number:hover .button-svg {
  fill-opacity: 1;
}

.button-edit-number:focus .button-svg {
  outline: 3px solid #82B3D3;
  border-radius: 4px;
  fill-opacity: 1;
}

.count-adults {
  margin-right: 46px;
}

.tooltip {
  position: absolute;
  margin-top: -36px;
  margin-left: 60px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: #83B3D3;
  border-radius: 50%;
  padding: 3px 3px;
  margin: 0;
  display: block;
  box-sizing: border-box;
  margin-bottom: 15px;
  cursor: pointer;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  display: block;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #83B3D3;
}

.tooltip-text {
  background-color: #333333;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  text-transform: none;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  min-width: 256px;
  box-sizing: border-box;
  position: absolute;
  left: -114px;
  display: none;
}

.count-tooltip {
  padding-right: 30px;
  margin-right: 53px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.form-label-icon {
  position: relative;
}

.tooltip-text:after {
  content:'';
  background-image: url("../images/decoration/tooltip_arrow.svg");
  width: 19px;
  height: 9px;
  position:absolute;
  bottom: 100%;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
}

.modal-container-close {
  display: none;
}

.active-catalog {
  position: relative;
}

.active-catalog::after {
  position: absolute;
  content: " ";
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
  bottom: -1px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
  opacity: 1;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.range-toggle:active {
  border: 2px solid rgba(131, 179, 211, 1);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -20px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 43px;
}

.catalog-filter-label {
  display: flex;
  opacity: 0.3;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-input {
  width: 143px;
  height: 48px;
  margin: 0;
  padding: 12px 38px 12px 20px;
  box-sizing: border-box;
  font: inherit;
  background-color: #F2F2F2;
  appearance: textfield;
  font-weight: 700;
  border: none;
  margin-right: 2px;
}

.range-min {
  border-radius: 4px 0 0 4px;
}

.range-max {
  border-radius: 0 4px 4px 0;
}

.wrapper-label-range-min,
.wrapper-label-range-max {
  position: relative;
}

.label-min,
.label-max {
  position: absolute;
  top: 12px;
  right: 21px;
  font: inherit;
}

.range-input:focus {
  border: none;
  border-radius: 3px;
  outline: 3px solid #83B3D3;
}

.range-input:hover {
  background-color: #E6E6E6;
}
